{% extends 'base.html' %}
{% block content %}



<div class="card">
  <div class="card-header"><h3>
    	{{ customer_record.first_name }} 
		{{ customer_record.last_name }}</h3>
  </div>
  <div class="card-body">
    <table class="table">
      <tbody>
        <tr>
          <th scope="row">Email</th>
          <td>{{ customer_record.email }}</td>
        </tr>
        <tr>
          <th scope="row">Phone</th>
          <td>{{ customer_record.phone }}</td>
        </tr>
        <tr>
          <th scope="row">City</th>
          <td>{{ customer_record.city }}</td>
        </tr>
        <tr>
          <th scope="row">State</th>
          <td>{{ customer_record.state }}</td>
        </tr>
        <tr>
          <th scope="row">Zipcode</th>
          <td>{{ customer_record.zipcode }}</td>
        </tr>
        <tr>
          <th scope="row">Created</th>
          <td>{{ customer_record.created_at }}</td>
        </tr>
      </tbody>
    </table>
    <a href="{% url 'home' %}" class="btn btn-secondary">Back</a>
    <a href="{% url 'delete' customer_record.id %}" class="btn btn-danger">Delete</a>
    <a href="{% url 'update_record' customer_record.id %}" class="btn btn-secondary">Update Record</a>
  </div>
</div>

{% endblock %}